@import "../foundations/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto, "sans");
}

body {
  @include gthemed {
    background-color: t(background);
  }
}

p {
  padding: 0;
}

.link {
  text-decoration: none;

  @include baseColor;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.input {
  outline: none;
  padding: 5px 10px;

  @include gthemed {
    border: 1px solid t(text);
  }

  &--error {
    @include gthemed {
      border: 1px solid t(warning);
    }
  }

  &__wraper {
    @include flex(3px, flex-start, flex-start);
    flex-direction: column;

    &--error {
      input {
        @include gthemed {
          border: 1px solid t(warning);
        }
      }

      span {
        @include gthemed {
          color: t(warning);
        }
      }
    }
  }
}

.text--error {
  font-size: 14px;
  @include gthemed {
    color: t(warning);
  }
}

.bg {
  @include gthemed {
    &--1 {
      background-color: t(background);
    }
    &--2 {
      background-color: t(background-2);
    }
    &--none {
      background-color: transparent;
    }
  }
}

.wraper {
  width: 100%;
  @include flex;
}
