:root {
  // font families
  --roboto: "Roboto", sans-serif;
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --roboto-slab: "Roboto Slab", serif;
  --rock-salt: "Rock Salt", cursive;
  --wellfleet: "Wellfleet", monospace;
}
