@import "../../foundations/all";

.brand {
  @include flex(0, center, center);

  &-container {
    @include flex(0, center);
    flex-direction: column;
  }

  &-name {
    font-family: var(--wellfleet, sans-serif) !important;
    text-transform: uppercase;
    @include gthemed {
      color: t(text) !important;
    }
  }

  &-moto {
    @include gthemed {
      color: t(text-2);
    }
  }

  &__logo {
    width: 100%;
    max-width: 230px;

    @include sm {
      max-width: 280px;
    }

    &--horizontal {
      width: calc(4vw + 100px);
      min-width: 120px;
      display: none;
      @include sm {
        display: block;
      }
    }

    &--mobile {
      width: calc(1vw + 30px);
      min-width: 20px;
      @include sm {
        display: none;
      }
    }
  }
}

.extended-brand {
  padding: 35px 0;
  min-height: 150px;
  @include gthemed {
    background-color: t(background);
  }
  @include sm {
    padding: 50px;
  }

  &-name {
    font-size: calc(1.5vw + 1.5rem) !important;
  }
}
