@import "../../foundations/all";

.brand {
  @include flex(0, center, center);

  @include gthemed {
    background-color: t(background);
  }

  &-logo {
    width: 100%;
    aspect-ratio: 28/7;
  }

  &-container {
    @include flex(0, center);
    flex-direction: column;
  }

  &-name {
    font-family: var(--wellfleet, $didot) !important;
    text-transform: uppercase;
  }

  &-moto {
    @include gthemed {
      color: t(text-2);
    }
  }
}

.extended-brand {
  padding: 35px 0;

  @include sm {
    padding: 50px;
  }

  &-name {
    font-size: calc(1.5vw + 1.5rem) !important;
  }
}
