@import "../../foundations/all";

.blog {
  @include gthemed {
    background-color: t(background);
  }

  &-header {
    &__breadcrumbs {
      padding-top: 20px;
      padding-bottom: 0px;
    }
    &__title {
      font-size: calc(1.3rem + 1.2vw) !important;
      text-transform: capitalize;
      font-family: var(--oswald, sans-sarif);

      @include xlg {
        font-size: 45px !important;
      }
    }

    &__blog-info {
      @include flex(10px);
      flex-wrap: wrap;
    }

    &__country {
      font-family: var(--rock-salt, $rock-salt);
      font-size: 14px;
      text-transform: capitalize;

      @include gthemed {
        color: t(text-muted);
      }
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 7/4;
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;

    @include sm {
      aspect-ratio: 7/3.5;
    }

    @include lg {
      aspect-ratio: 7/2.6;
    }
  }

  /*----------  blog main  ----------*/

  &__main {
    @include flex(20px, space-between, flex-start);
    flex-wrap: wrap;
    @include lg {
      padding-top: 20px;
    }
  }

  /*----------  content  ----------*/

  &-content {
    width: 100%;

    @include lg {
      width: 65%;
    }

    &__main {
      @include gthemed {
        color: t(text-muted);
      }
      line-height: 1.5;

      p {
        margin-bottom: 20px;
      }
      h1 {
        font-size: calc(1.4rem + 0.8vw);
        text-transform: capitalize;
      }
      h2 {
        font-size: calc(1.5rem + 0.5vw);
      }
      h3 {
        font-size: calc(1rem + 0.3vw);
      }

      ul {
        margin-bottom: 20px;
        padding-left: 20px;
        li {
          margin-bottom: 15px;
        }
      }
      img {
        width: 100%;
        aspect-ratio: 1/0.8;
      }

      h1,
      h2,
      h3 {
        @include gthemed {
          color: t(text);
        }
      }
      // .image {
      //   width: 100% !important;
      //   padding-top: 20px;

      //   img {
      //     width: 100%;
      //     aspect-ratio: 1.7/1 !important;
      //     height: unset;
      //     object-fit: cover;
      //     border-radius: 10px;
      //   }
      // }

      blockquote {
        padding: 20px 30px;
        border-left: 5px solid $primary;
        text-transform: capitalize;
        @include gthemed {
          background-color: t(background-2);
        }
        i {
          font-family: var(--roboto-condensed, $roboto-condensed);
          font-weight: 600;
        }
      }
    }
    &__footer {
      @include flex(0, flex-end);
      font-size: 20px;
      padding: 30px 0 20px 0;
    }
    &__share {
      @include flex(15px);
    }
  }

  /*----------  author  ----------*/

  &-author {
    @include flex(15px, flex-start);
    padding: 30px 0;
    flex-direction: column;
    text-align: center;
    @include gthemed {
      border-top: 1px solid t(divider);
      border-bottom: 1px solid t(divider);
    }

    @include sm {
      align-items: flex-start;
      text-align: left;
      flex-direction: row;
    }

    &__name {
      text-transform: capitalize;
    }
    &__role {
      color: $primary;
    }

    &__bio {
      max-width: 600px;
    }

    &__social-medias {
      margin-top: 16px;
      @include flex(20px, center);

      @include sm {
        justify-content: flex-start;
      }
    }
  }

  /*----------  section layout  ----------*/

  &-section {
    @include flex(20px, flex-start, flex-start);
    flex-direction: column;
    width: 100%;

    &__title {
      text-transform: uppercase;
      font-family: var(--oswald, $roboto-slab) !important;
      text-align: left;
      width: 100%;
      font-size: calc(1.2rem + 0.4vw) !important;
    }
  }

  /*----------  related blogs  ----------*/

  .related-blog {
    width: 100%;
    margin: 30px 0;
    @include sm {
      margin: 50px 0;
    }

    &__wrapper {
      @include flex(10px, center, flex-start);

      @include lg {
        gap: 30px;
      }
    }
  }

  /*----------  comment  ----------*/

  &-comments {
    margin-bottom: 50px;

    &__container {
      width: 100%;
      @include flex(20px, flex-start, flex-start);
      flex-direction: column;
    }
    .empty-comment {
      @include flex(10px, center, center);
      flex-direction: column;
      padding: 30px 0;

      @include gthemed {
        color: t(text-muted);
      }

      &__icon {
        font-size: calc(8rem + 5vw);
      }

      &__text {
        font-size: calc(1rem + 0.5vw);
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
  &-comment {
    width: 100%;
    max-width: 600px;
    position: relative;

    &__wrapper {
      @include flex(10px, flex-start, flex-start);
      width: 100%;
    }

    &__content {
      width: 100%;
    }
    &__header {
      @include flex(10px, space-between);
      width: 100%;

      &-left {
        @include flex(5px, flex-end, flex-end);
      }
    }

    &__posting {
      @include flex(2px);

      &-text {
        @include gthemed {
          color: t(text-2);
          font-size: 14px;
        }
      }

      .loader {
        width: 12px;
        height: 12px;
        @include gthemed {
          border: 3px solid t(text-2);
          border-bottom-color: transparent;
        }
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    &__author-name {
      text-transform: capitalize;
    }

    &__reply-button {
      @include flex;
      text-transform: capitalize;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      @include gthemed {
        color: t(text-muted);

        &:hover {
          color: $primary;
        }
      }
    }

    &__text {
      @include gthemed {
        color: t(text-2);
      }
    }

    &__reply {
      width: 100%;
      &-container {
        padding-left: 40px;
        padding-top: 20px;

        @include sm {
          padding-left: 60px;
        }
        @include flex(20px, flex-start, flex-start);
        flex-direction: column;
      }

      &-view {
        @include btn;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 700;
        text-decoration: underline;

        @include gthemed {
          color: t(text);
        }
      }
    }
    &__line {
      position: absolute;
      left: 25px;
      top: 50px;

      border-radius: 0 0 0 10px;
      @include gthemed {
        border-left: 1px solid t(text);
        border-bottom: 1px solid t(text);
      }
    }
  }

  /*----------  reply  ----------*/

  /*=============================================
  =            comment bar section            =
  =============================================*/

  .comment-bar {
    width: 100%;

    &__title {
      @include flex(20px);
      svg {
        cursor: pointer;

        @include gthemed {
          color: t(text);
        }
      }
    }

    &__comment-text {
      text-transform: uppercase;
      font-size: calc(1.2rem + 0.4vw);
      font-family: var(--oswald, $roboto);
      @include gthemed {
        color: t(text);
      }
    }
    &__reply-text {
      text-transform: uppercase;
      font-size: calc(0.8rem + 0.4vw);
      font-family: var(--oswald, $roboto);
      @include gthemed {
        color: t(text) !important;
      }
    }
    &__wrapper {
      @include flex(25px, flex-start, flex-start);
      flex-direction: column;
      width: 100%;
    }

    &__user-info {
      width: 100%;
      @include flex(15px, space-between, flex-start);
      flex-wrap: wrap;

      @include sm {
        flex-wrap: nowrap;
      }
    }

    &__input {
      padding: 10px 16px;
      width: 100%;
      outline: none;
      background-color: transparent;

      @include gthemed {
        border: 1px solid t(divider);
        color: t(text-muted);
        &::placeholder {
          color: t(text-muted);
          text-transform: capitalize;
        }
      }
    }

    &__comment {
      aspect-ratio: 77/17;
    }

    &__feature {
      @include flex(10px, flex-start, flex-start);
      @include gthemed {
        color: t(text);
      }

      input {
        height: 15px;
        @include gthemed {
          border: 1px solid t(text);
          accent-color: green;
        }
      }
    }

    &__button {
      padding: 13px 20px;
      text-transform: uppercase;
      border: none;
      outline: none;
      background-color: $primary;
      color: $white-10;
    }

    .error-boundary {
      width: 100%;
    }

    .error {
      input {
        @include gthemed {
          border: 1px solid t(warning);
        }
      }
      textarea {
        @include gthemed {
          border: 1px solid t(warning);
        }
      }
      p {
        margin-top: 5px;
        text-transform: capitalize;
        font-size: 14px;
        @include gthemed {
          color: t(warning);
        }
      }
    }
  }

  /*=====  End of comment bar section  ======*/

  /*----------  product  ----------*/

  &-product {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 3/2;
    border-radius: 10px;
    overflow: hidden;

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;
      padding-top: 40px;
      background: linear-gradient(
        180deg,
        transparent,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.9)
      );
      width: 100%;

      @include flex(10px, flex-end, flex-start);
      flex-direction: column;
    }

    &__name {
      text-transform: uppercase;
      color: $white !important;
    }

    &__link {
      padding: 10px 20px;
      background-color: $primary;
      color: $white-10 !important;
      border-radius: 10px;
      text-transform: capitalize;

      &:hover {
        color: $white !important;
        background-color: $primary-dark;
      }
    }
  }

  &__sidebar {
    width: 100%;
    @include flex(30px, space-between, flex-start);
    flex-wrap: wrap;

    .blog-section {
      @include sm {
        width: 47%;
      }

      @include lg {
        width: 100%;
      }
    }

    @include lg {
      width: 30%;
    }
    /*----------  connect and follow  ----------*/
    .sidebar-follow-us {
      @include flex(10px);
      flex-wrap: wrap;

      &__card {
        @include flex(10px, center);
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;

        @include gthemed {
          border: 2px solid t(text);
        }

        &:hover {
          border: 2px solid $primary;

          svg {
            color: $primary !important;
          }
          .follow-us__name {
            color: $primary;
          }
        }

        svg {
          font-size: 30px;
          @include gthemed {
            color: t(text);
          }
        }
      }

      &__name {
        text-transform: capitalize;
        font-weight: 600;
      }
    }

    /*----------  latest post  ----------*/

    .sidebar-latest-post {
      &__card {
        margin-bottom: 20px;
      }
    }

    /*----------  categories  ----------*/

    .sidebar-categories {
      width: 100%;

      @include sm {
        max-width: 300px;
      }
    }

    .sidebar-category {
      @include flex(10px, space-between);
      text-transform: capitalize;
      padding: 20px 0;
      width: 100%;
      font-weight: 500;
      @include gthemed {
        border-bottom: 1px solid t(divider);

        &:hover {
          &__name {
            color: $primary !important;
          }
          &__count {
            color: $primary !important;
          }
        }
      }
    }
  }
}
