@import "../../foundations/all";

/*=============================================
=            hero section            =
=============================================*/

.hero {
  @include gthemed {
    background-color: t(background);
  }

  .hero__navigation {
    padding: 0 20px;

    @include sm {
      padding: 0 30px;
    }

    @include md {
      padding: 0 50px;
    }
  }

  &__backdrop {
    height: 100%;
  }

  &__skeleton {
    height: 50vh;
    max-height: 400px;
    max-width: 1535px;
    margin: 0 auto;

    @include sm {
      height: 40vh;
      max-height: unset;
    }
    @include md {
      height: unset;
      aspect-ratio: 14/6;
    }
  }
  &__container {
    @include flex(0, center);
  }
  &__slider {
    max-width: 1535px;

    .swiper-pagination {
      &-bullet {
        background-color: $white;
        height: 5px;
        width: 15px;
        border-radius: 0;

        &-active {
          background-color: $white;
        }
      }

      @include sm {
        display: none;
      }
    }
  }
  &__image {
    height: 50vh;
    width: 100%;
    max-height: 400px;
    background-color: black;

    @include sm {
      height: 40vh;
      max-height: unset;
    }

    @include md {
      height: unset;
      aspect-ratio: 14/6;
    }
  }

  &__content {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    @include flex;
    flex-direction: column;

    @include sm {
      width: unset;
    }
  }
  &__title {
    color: white !important;
    font-family: $roboto-condensed;
    font-size: calc(1.3vw + 1.3rem);
    text-align: center;
    font-weight: 600;
  }
  &__description {
    color: white !important;
    text-align: center;
    font-size: 90%;

    @include sm {
      font-size: 100%;
    }
  }
  &__btn {
    margin-top: 20px;
    text-transform: capitalize;
    @include flex;
    padding: 10px 20px;
    color: $white-10;
    background-color: $primary;
    &:hover {
      color: $white;
      background-color: $primary-dark;
    }
  }
}

/*=====  End of hero section  ======*/

/*=============================================
=            categories section            =
=============================================*/

.category {
  padding: 50px 0;

  @include gthemed {
    background-color: t(background);
  }

  &-skeleton {
    padding: 30px 0;
    @include flex(30px);

    &__item {
      aspect-ratio: 1/0.8;
      max-height: 250px;

      &:nth-child(n + 4) {
        display: none;
      }
      @include md {
        &:nth-child(4) {
          display: block;
        }
      }

      @include lg {
        &:nth-child(5) {
          display: block;
        }
      }
    }
  }
  &__slide {
    @include flex(10px);
    flex-direction: column;
    svg {
      font-size: calc(3rem + 2.5vw);

      @include gthemed {
        color: t(text);

        &:hover {
          color: t(text-2);
        }
      }
    }
  }

  &__details {
    text-align: center;
  }
  &__blogs-count {
    font-size: 12px;
    @include gthemed {
      color: t(text);
    }
  }
  &__title {
    text-transform: uppercase;
    margin-top: 5px;
  }
}

/*=====  End of categories section  ======*/

/*=============================================
=            latest posts section            =
=============================================*/

.latest-posts {
  &__container {
    @include flex(10px, space-between);
    flex-wrap: wrap;

    @include md {
      gap: 30px;
    }
  }

  &__blog {
    width: 100%;

    @include xs {
      width: 46%;
    }
    @include md {
      width: 28%;
    }
  }
}

/*=====  End of latest posts section  ======*/

/*=============================================
=            special post            =
=============================================*/

.special-post {
  @include flex(0, center);
  padding: 30px 0;
  @include gthemed {
    background-color: t(background);
  }

  @include sm {
    padding: 50px 0;
  }
  &__image {
    width: 100%;
    height: 35vh;
    max-width: $xlg;

    @include md {
      aspect-ratio: 14/5;
      height: unset;
    }
  }
  &__content {
    padding: 20px;
    @include centerEl;
    @include flex(10px, center, center);
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    width: 90%;

    @include gthemed {
      background-color: t(background-transparent);
    }

    @include sm {
      padding: 50px 20px;
    }
  }
  &__title {
    font-family: var(--roboto-slab, $roboto-slab);
    font-size: calc(1rem + 0.8vw);
    @include gthemed {
      color: t(text);
    }
  }

  &__date {
    font-weight: 500;
    @include gthemed {
      color: t(text-muted);
    }
  }

  &__button {
    padding: 10px 20px;
    text-transform: capitalize;
    border: 1px solid $primary;
    color: $primary !important;
    font-weight: 500;

    &:hover {
      background-color: $primary;
      color: $white !important;
    }
  }
}

/*=====  End of special post  ======*/

/*=============================================
=            essentials product section            =
=============================================*/

.products {
  @include flex(20px, space-around);

  @include md {
    gap: 30px;
  }
  @include lg {
    gap: 50px;
  }

  .product {
    @include flex(15px, center);
    flex-direction: column;
    width: 100%;

    &:nth-last-child(-n + 2) {
      display: none;
    }

    @include sm {
      &:nth-last-child(2) {
        display: flex;
      }
    }
    @include md {
      &:nth-last-child(1) {
        display: flex;
      }
    }
    &__image {
      width: 100%;
      aspect-ratio: 18/14;
    }

    &__content {
      text-align: center;
    }

    &__price {
      @include flex(5px, center);
      @include gthemed {
        color: t(text-muted);
      }

      &--active {
        font-weight: 500;
      }

      &--disabled {
        text-decoration: line-through;
      }
    }

    &__name {
      text-transform: uppercase;
      font-size: calc(0.6rem + 0.4vw);
      margin-top: 5px;
    }
  }
}

/*=====  End of essentials product section  ======*/

/*=============================================
=            suggested place section            =
=============================================*/

.slider {
  &-navigation {
    padding: 10px;
    display: flex;
    &--item {
      color: $white-10;
    }
  }
}

/*=====  End of suggested place section  ======*/

/*=============================================
=            section title            =
=============================================*/

.section_title {
  @include flex;
  flex-direction: column;
  margin-bottom: 30px;

  &-title {
    text-transform: uppercase;
    font-size: calc(1.2rem + 1vw);
  }
  &-description {
    text-align: center;

    @include gthemed {
      color: t(text-2);
    }

    @include sm {
      max-width: 80%;
    }
    @include md {
      max-width: 600px;
    }
  }
}

/*=====  End of section title  ======*/

/*=============================================
=            section layout            =
=============================================*/

.section_layout {
  padding: 50px 0;

  &-bg1 {
    @include gthemed {
      background-color: t(background);
    }
  }
  &-bg2 {
    @include gthemed {
      background-color: t(background-2);
    }
  }
}

/*=====  End of section layout  ======*/
