@import "../../foundations/all";

.search {
  @include gthemed {
    background-color: t(background);
  }
  &-banner {
    padding: 30px 0;
    &-title {
      text-transform: uppercase;
      font-size: calc(1.5rem + 0.8vw);
    }

    &-searchInfo {
      @include flex(15px, flex-start, flex-start);
      margin-top: 20px;
      flex-direction: column;

      @include md {
        flex-direction: row;
        align-items: center;
      }
    }
    &-result {
      text-transform: capitalize;
      font-weight: 500;
    }
  }

  /*----------  blog card  ----------*/

  &-blogs {
    @include flex(30px);
    flex-direction: column;

    &-container {
      margin: 10px 0;
    }

    &-pagination {
      margin: 50px auto;
      justify-content: center;
    }
  }
  &-blogCard {
    &-content {
      @include flex(5px, flex-start, flex-start);
      flex-direction: column;
    }
    &--image {
      aspect-ratio: 1/0.9;

      @include sm {
        aspect-ratio: 1/0.7;
      }
      &-link {
        max-width: 200px;
        min-width: 100px;
      }
    }
    &--title {
      max-height: 38px;
      overflow: hidden;
      @include sm {
        font-size: calc(1rem + 0.5vw);
      }
    }
    &--readTime,
    &--date {
      @include sm {
        font-size: 15px;
      }
    }

    &--shortDesc {
      height: 40px;
      overflow: hidden;

      @include md {
        height: 60px;
      }
    }
  }
}
