@import "../../foundations/all";

.shop {
  @include gthemed {
    background-color: t(background);
  }

  &__products {
    @include flex(10px, space-around);
    flex-wrap: wrap;
  }

  /*----------  product card  ----------*/

  .product {
    &-affiliates {
      @include flex;
      flex-direction: column;
      text-transform: capitalize;
      width: 100%;
      &__title {
        font-size: 14px;

        @include gthemed {
          color: t(text);
        }

        @include sm {
          font-size: 16px;
        }
      }

      &__button {
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        border-radius: 10px;

        @include gthemed {
          border: 1px solid t(primary);
          color: t(primary);
          font-weight: 600;

          &:hover {
            color: $white;
            background-color: t(primary);
          }
        }
      }
    }
    &-card {
      @include flex;
      flex-direction: column;
      margin: 10px 0;
      width: 47%;

      @include md {
        width: 29%;
        margin: 20px 0;
      }

      @include lg {
        width: 22%;
        margin: 25px 0;
      }

      &__image {
        width: 100%;
        aspect-ratio: 2.5/2;
      }

      &__price {
        @include flex;

        &--active {
          font-size: calc(1rem + 0.3vw);
          font-weight: 500;
        }
        &--discount {
          text-decoration: line-through;
        }
      }

      &__name {
        margin-top: 10px;
        text-transform: capitalize;
        font-size: calc(1rem + 0.4vw);
      }
    }
  }
  &__main {
    margin-bottom: 50px;
  }
}
