@import "../../foundations/all";

.footer {
  &--bg1 {
    @include gthemed {
      background-color: t(background);
    }
  }
  &--bg2 {
    @include gthemed {
      background-color: t(background-2);
    }
  }
  &__container {
    @include flex(30px, center, flex-start);
    flex-wrap: wrap;
    padding: 50px 0;
  }

  &__title {
    text-transform: uppercase;
    font-size: 18px !important;

    @include md {
      font-size: calc(0.8rem + 0.4vw) !important;
    }
  }

  &__wraper {
    @include flex(5px, flex-start, flex-start);
    flex-direction: column;
    margin-top: 10px;
  }

  &-brand {
    justify-content: flex-start !important;

    width: 100%;

    @include sm {
      width: 50%;
    }

    @include md {
      width: 30%;
    }

    &__description {
      margin-top: 5px !important;
    }

    &__social-medias {
      @include flex(10px);
      font-size: 30px;
      @include baseColor;
      margin-top: 20px;
    }
  }
  &__destinations {
    width: 100%;

    @include sm {
      width: 30%;
    }

    @include md {
      width: 20%;
    }
  }
  &__destination {
    text-transform: capitalize;
    @include baseColor;
  }
  &__blogs {
    width: 100%;

    @include sm {
      width: 50%;
    }
    @include md {
      width: 40%;
    }
  }
  &-blog {
    &__title {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 16px;

      @include md {
        font-size: calc(0.7rem + 0.3vw);
      }
    }
    &__country {
      font-family: var(--rock-salt, $rock-salt) !important;
      font-size: 12px !important;
      @include gthemed {
        color: t(text-muted) !important;
      }
    }
  }

  .copyright {
    width: 100%;
    padding: 20px 10px;

    @include gthemed {
      border-top: 1px solid t(divider);
    }

    &__text {
      @include flex(5px, center);
      @include gthemed {
        color: t(text);
      }
    }
  }
}
