@import "../../foundations/all";
@import "../../base/constant.module";

.nav {
  @include gthemed {
    background-color: t(background);
    border-bottom: 1px solid t(divider);
  }

  &-wraper {
    @include flex(10px, space-between);
    width: 100%;
  }

  &-left {
    @include flex;
  }

  &-brand {
    line-height: 60px;

    &-name {
      font-size: calc(1rem + 0.8vw) !important;

      @include lg {
        font-size: 25px !important;
      }
    }
  }

  &-destination {
    @include flex;
    @include gthemed {
      color: t(text-muted);
    }
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid $white;
    width: 100%;
    cursor: pointer;
    font-size: 90%;

    &:hover {
      @include gthemed {
        color: t(text);
        background-color: t(background-2);
      }
    }

    @include md {
      font-size: 100%;
    }

    &--active {
      text-transform: uppercase;
      line-height: 60px;
      padding: 0;
      border: none;
      &:hover {
        background-color: unset !important;
      }

      svg {
        height: 25px;
        width: 25px;

        @include sm {
          height: 30px;
          width: 30px;
        }
      }
    }

    &--icon {
      height: 25px;
      width: 25px;
    }
  }
  &-destinations {
    position: relative;

    &--wraper {
      @include flex(0, flex-start, flex-start);
      flex-direction: column;
      position: absolute;
      z-index: 5;
      display: none;
      margin-top: 1px;
      @include gthemed {
        background-color: t(background);
      }
    }

    &--active {
      display: flex;
    }
  }

  /**
   *
   * menus section
   *
   */

  &-menus {
    &-name {
      text-transform: capitalize;
      text-decoration: none;
      font-weight: 500;
      @include gthemed {
        color: t(text-2);

        &:hover {
          color: t(text);
        }
      }
    }

    &-dropdown {
      position: relative;

      &:hover .nav-menus-dropdown--wraper {
        display: flex;
      }
      &--title {
        @include flex;
        cursor: pointer;
      }

      &--icon {
        font-size: 10px;

        @include gthemed {
          color: t(text);
        }
      }
      &--wraper {
        position: absolute;
        top: 101%;
        left: 0;
        @include flex(0, flex-start, flex-start);
        flex-direction: column;
        min-width: 200px;
        z-index: 7;
        @include gthemed {
          background-color: t(background);
        }
        display: none;
      }
      &--item {
        padding: 10px;
        @include gthemed {
          border-bottom: 1px solid t(divider);
          &:hover {
            background-color: t(background-2);
          }
        }
        width: 100%;
      }

      &--open {
        display: flex;
      }
    }

    &-desktop {
      display: none;

      @include sm {
        display: block;
      }

      .nav-menus-icon {
        display: none;
      }

      &--container {
        @include flex(15px);
        list-style: none;

        .nav-menus-name {
          line-height: 60px;
          font-size: 90%;

          @include md {
            font-size: 100%;
          }
        }
      }
    }
    &-extended {
      color: red;
      @include sm {
        display: none;
      }

      @include md {
        display: block;
      }
    }

    &-mobile {
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100vh;
      z-index: 6;
      padding: 5px;
      transition: 0.3s linear;
      @include gthemed {
        background-color: t(background);
      }

      .nav-menus {
        &-name {
          display: block;
          width: 100%;
          padding: 15px 10px;
          @include gthemed {
            border-bottom: 1px solid t(divider);

            &:hover {
              background-color: t(background-2);
            }
          }
        }

        &-dropdown {
          &--title {
            width: 100%;
            @include gthemed {
              border-bottom: 1px solid t(divider);
            }
          }
          &--wraper {
            margin: 10px;
            position: unset;
            @include gthemed {
              background-color: t(background-2);
            }
          }

          &--item {
            &:nth-last-child(1) {
              border: none;
            }

            @include gthemed {
              &:hover {
                background-color: t(background);
              }
            }
          }

          .nav-menus-name {
            width: unset;
            border: none;
          }
        }
      }
    }
    &-open {
      left: 0;
      transition: 0.3s linear;
    }

    &-icon {
      @include flex(0, flex-end);
      padding-top: 5px;
      padding-right: 5px;
    }
    &-close {
      height: 25px;
      width: 25px;
      cursor: pointer;

      @include gthemed {
        color: t(text-2);

        &:hover {
          color: t(text);
        }
      }
    }
  }

  /*----------  mobile menus  ----------*/

  &-mobile_menus {
    display: flex;
    @include sm {
      display: none;
    }

    &--icon {
      height: 25px;
      width: 25px;
      cursor: pointer;
      @include gthemed {
        color: t(text-2);

        &:hover {
          color: t(text);
        }
      }
    }
  }

  /*=============================================
=            right section            =
=============================================*/

  &-right {
    @include flex;

    /*----------  social medias  ----------*/

    .#{$brand-name} {
      &-social_medias {
        @include flex(10px);
        display: none;

        @include md {
          display: flex;
        }
      }
      &-link {
        display: flex;
      }
    }
  }

  /*----------  search  ----------*/

  &-search {
    @include flex(5px, center, center);

    &--icon {
      display: flex;
      @include baseColor;
    }
    &--input {
      @include input;
      padding: 0;
      border: none;
      width: 60px;
      height: 15px;
      transition: 0.3s linear;

      &::placeholder {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;

        @include gthemed {
          color: t(text-2);
        }
      }

      &:hover,
      &:focus {
        width: 100px;
        transition: 0.3s linear;

        @include sm {
          width: 110px;
        }
        @include md {
          width: 130px;
        }
      }
    }
  }

  /*----------  theme  ----------*/

  &-theme {
    @include baseColor;
    cursor: pointer;
    display: flex;

    &-divider {
      display: none;

      @include md {
        display: block;
      }
    }
  }

  /*=====  End of right section  ======*/
}
