@import "../../../foundations/all";

.card2 {
  width: 100%;

  &__skeltons {
    gap: 15px;

    @include sm {
      gap: 20px;
    }

    @include md {
      gap: 30px;
    }

    @include lg {
      gap: 40px;
    }
  }
  &__skeleton {
    aspect-ratio: 3/4.9;

    &:nth-child(n + 3) {
      display: none;
    }

    @include sm {
      &:nth-child(3) {
        display: block;
      }
    }
    @include md {
      &:nth-child(4) {
        display: block;
      }
    }
    @include lg {
      &:nth-child(5) {
        display: block;
      }
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 3/4.9;

    &:hover {
      opacity: 0.9;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    @include flex(0, flex-start, flex-start);
    flex-direction: column;
    padding: 50px 10px 20px 10px;
    width: 100%;
    background: linear-gradient(
      180deg,
      transparent,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    );
  }
  &__country {
    font-family: var(--rock-salt, $rock-salt);
  }
  &__title {
    font-size: calc(0.9rem + 0.2vw);
    font-family: var(--roboto-slab, $roboto-slab);
    text-transform: capitalize;
    color: $white !important;
    margin-bottom: 5px;
  }
  &__date,
  &__country {
    font-size: calc(0.6rem + 0.15vw);
    color: $white-10 !important;
  }
}
