@import "../foundations/all";

/**
 *
 * backdrop
 *
 */

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 5;
}

/**
 *
 * slider navigation
 *
 */

.slider {
  &-navigation {
    @include centerEl;
    @include flex(10px, space-between);
    color: $white-50;
    z-index: 7;
    width: 100%;
    padding: 10px;
    font-size: calc(1.5rem + 1vw);
    display: none;

    @include sm {
      padding: 30px;
      display: flex;
    }

    &--item {
      cursor: pointer;
      &:hover {
        color: $white;
      }
    }
  }
}
